.menuBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-img-size {
    max-width: 100%;
    height: 45px;
}

.menuBar .backButton {
    padding: 1em 3em 1em 1em;
    margin: 0;
    text-decoration: underline;
}

.menuBar .backButton:hover {
    cursor: pointer;
}

/* Menunavbottom */
.menubottom {
    display: none;
}

@media screen and (max-width: 800px) {
    .menubottom {
        position: relative; /* Bisa diganti menjadi 'fixed' jika diperlukan */
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 5;
    }

    .menubottom nav ul {
        display: flex !important;
        width: 100% !important;
        padding-left: 0;
        justify-content: space-between !important;
        margin-bottom: 0;
        flex-direction: row !important;
        list-style: none;
    }

    .menubottom nav ul li {
        width: 100% !important;
        list-style: none;
    }

    .menubottom nav ul li a {
        display: block;
        text-decoration: none;
        padding: 0.4rem 1rem;
    }

    .menubottom nav ul li a svg {
        width: 25px;
        height: 25px;
        fill: #d42e11;
    }

    .menubottom nav ul li a span {
        color: #d42e11;
        position: relative;
        font-size: 10px;
        display: block;
        top: -2px;
    }

    #openShare {
        display: block;
    }

    #closeShare {
        display: none;
    }

    #jpthemeFooter {
        padding-bottom: 55px;
        position: relative;
    }
}

@media screen and (max-width: 768px) {
    .menubottom {
        left: 0;
        text-align: center;
        width: 100%;
        position: fixed;
        display: block;
    }

    .menubottom nav {
        background-color: var(--secondary);
        background-image: linear-gradient(
            110deg,
            rgba(33, 150, 243, 0.1) 16%,
            rgba(33, 150, 243, 0.1) 17%,
            rgba(33, 150, 243, 0.05) 17%,
            rgba(33, 150, 243, 0.05) 23%,
            transparent 8.5%,
            transparent 78%,
            rgba(33, 150, 243, 0.05) 78%,
            rgba(33, 150, 243, 0.05) 84%,
            rgba(33, 150, 243, 0.1) 84%,
            rgba(33, 150, 243, 0.1)
        );
        display: flex !important;
        position: relative;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.3);
        border-radius: 20px 20px 0 0;
    }

    .menubottom ul li {
        float: left;
        width: 100px;
        height: 100%;
        display: block;
    }

    .float_wrapper_menubottom {
        position: fixed;
        left: 0;
        bottom: 0;
        right: 0;
        transition: all 0.3s ease-out;
        transform: translateZ(0);
        font-family: 'Quicksand', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen-Sans', 'Helvetica Neue', Arial, sans-serif;
    }

    .floatscroll {
        bottom: 0;
    }

    .floatno-scroll {
        bottom: -55px;
    }

    .jpthemeMenu .menu-toggle {
        display: none;
    }

    .jpthemeMenu .back-toggle {
        display: block !important;
    }
}

.jpthemeMenu .back-toggle {
    display: none;
}
